button {
  color: #f78e1e;
  border: 1px solid #f78e1e;
  background-color: transparent;
  padding: 0.5rem; }

.container {
  max-width: 1360px;
  margin: auto; }

.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.primary-title--white, .primary-title--orange {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  border-bottom: 2px solid #fab702;
  margin: 2rem;
  text-transform: uppercase; }

.primary-title--white {
  color: white; }

.primary-title--orange {
  color: #fab702; }

.home-header {
  height: 100vh;
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }

.home-header-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

.home-header-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.home-header-navbar-logo {
  width: 20%; }

.logo {
  display: block; }
  .logo img {
    width: 9rem; }

.home-header-nav {
  flex-grow: 1;
  background-color: black;
  opacity: 0.7; }

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around; }
  .nav a {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-family: "Quicksand", sans-serif;
    cursor: pointer; }
    .nav a:hover {
      border-bottom: 2px solid #fab702; }

.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.home-header-slogan {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 35%;
  align-items: stretch;
  background-color: #f78e1e;
  background: url(../img/slogan.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  margin-top: 4rem; }
  .home-header-slogan span {
    font-size: 9vh;
    color: #FFF;
    align-self: center;
    font-weight: bold;
    font-family: "Quicksand", sans-serif; }

.home-header-features {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .home-header-features .features-phone,
  .home-header-features .home-header-features-column {
    align-self: center; }

.features-phone img {
  width: 100%;
  height: 100%; }

.features-icon {
  border: 2px solid #fab702;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1%;
  margin: 12%;
  background-color: #000000;
  opacity: 0.7;
  box-shadow: 1px 1px 10px #000;
  cursor: pointer; }
  .features-icon:hover {
    animation: sdb03 2s infinite;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    opacity: 0; }
  .features-icon img {
    width: 100%;
    height: 100%; }

@keyframes sdb03 {
  0% {
    opacity: 0.8; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.1);
    opacity: 0.7; }
  100% {
    opacity: 0.8; } }
.home-our-services {
  background: linear-gradient(to right bottom, #f78e1e, white, #cccccc);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem; }

.home-our-services-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem; }

.home-our-services-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2rem; }
  .home-our-services-item:nth-child(even) .home-our-services-img {
    order: 2; }

.home-our-services-img {
  max-width: 40%;
  flex-grow: 1;
  text-align: center; }
  .home-our-services-img img {
    width: 100%;
    height: 100%; }

.home-our-services-content {
  padding: 2rem;
  max-width: 74rem;
  background-color: white; }

.service-item-title {
  font-weight: 400;
  text-transform: uppercase;
  color: gray;
  font-size: 2.5rem;
  border-left: 5px solid #f78e1e;
  padding-left: 1rem;
  margin-bottom: 1rem; }

.service-item-sublist {
  padding: 2rem; }
  .service-item-sublist li {
    list-style: none; }
  .service-item-sublist a {
    color: #f78e1e;
    text-decoration: none;
    cursor: pointer; }

.home-popup {
  height: 100%;
  min-width: 100%;
  background-image: url(../img/23.jpg);
  background-size: cover;
  background-position: top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: visible; }

.nonavtive {
  visibility: hidden; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%; }

.popup-title {
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  opacity: 1; }
  .popup-title span {
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 3s; }

.section-work {
  overflow-x: hidden; }

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  transition: all 0.8s; }

.work-wrap, .thumb-wrap {
  width: 50%;
  float: left; }
  .work-wrap .work-container, .thumb-wrap .work-container {
    max-width: 1360px;
    margin: 0px auto;
    position: relative; }
    .work-wrap .work-container h4, .thumb-wrap .work-container h4 {
      color: #fff;
      font-weight: 300;
      font-size: 24px;
      text-transform: uppercase;
      margin: 0 70px 20px; }
    .work-wrap .work-container img, .thumb-wrap .work-container img {
      max-width: 100%;
      margin-bottom: 20px; }

.thumb-container {
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .thumb-container .thumb-unit {
    width: 30%;
    height: auto; }
    @media screen and (max-width: 760px) {
      .thumb-container .thumb-unit {
        width: 50%;
        padding-top: 26%; } }

.thumb-unit {
  margin-right: 2%;
  background-size: cover;
  cursor: pointer;
  border: 2px solid #f78e1e; }
  .thumb-unit:last-child {
    margin-right: 0; }

.thumb-overlay {
  height: 100%;
  text-align: center; }
  .thumb-overlay strong {
    display: block;
    padding: 20px;
    color: white;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase; }

.work-return {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: -4px;
  left: 20px; }
  .work-return path {
    fill: rgba(0, 0, 0, 0.4); }

.container-popup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  align-items: stretch; }

.comp {
  border: 2px solid #f78e1e;
  margin: 2%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 20%; }
  .comp a {
    text-decoration: none;
    color: #f78e1e;
    display: block;
    text-align: center; }
  .comp strong {
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 5%; }

.go-to {
  position: absolute;
  top: 0;
  right: 50px;
  color: #f78e1e;
  font-size: 18px;
  font-weight: 400; }

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: black;
  border: none; }

.home-our-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 4rem;
  margin-bottom: 6rem; }

.home-our-projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  height: 100%; }

.home-our-projects-item {
  flex: 1 1 26rem;
  margin: 1rem; }
  .home-our-projects-item img {
    width: 100%;
    height: 100%; }

.home-our-affiliations {
  background-color: #fab702;
  margin-top: 4rem; }

.home-our-affiliations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  height: 100%;
  margin: 2rem;
  margin-bottom: 6rem; }

.home-our-affiliations-item {
  flex: 1 1 6rem;
  margin: 1rem; }
  .home-our-affiliations-item img {
    width: 100%;
    height: 100%; }

.home-seo-text {
  margin-top: 4rem;
  padding-bottom: 6rem;
  padding-right: 2rem;
  padding-left: 2rem; }

.footer {
  background: url(../img/house.jpg);
  background-size: cover;
  background-position: center;
  min-height: 36rem;
  padding-top: 10rem; }

.footer-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.footer-subscribe,
.footer-social,
.footer-contacts {
  width: 30%;
  align-self: flex-start; }
  .footer-subscribe span,
  .footer-social span,
  .footer-contacts span {
    color: #f78e1e;
    font-weight: 700;
    font-size: 18px; }
  .footer-subscribe hr,
  .footer-social hr,
  .footer-contacts hr {
    border-color: 1px solid #cccccc; }

.footer-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 1rem; }
  .footer-form button,
  .footer-form input {
    width: 50%;
    margin-top: 1rem; }

.social-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 1rem; }

.footer-contacts ul {
  margin-top: 1rem; }
.footer-contacts li {
  list-style: none;
  text-decoration: none; }
  .footer-contacts li a {
    text-decoration: none; }

.social-item {
  width: 2rem;
  height: 2rem;
  background-color: #f78e1e;
  margin-right: 1rem;
  text-align: center; }
  .social-item a {
    margin: o auto; }

/*# sourceMappingURL=main.css.map */
