.footer
    background: url(../img/house.jpg)
    background-size: cover
    background-position: center
    min-height: 36rem
    padding-top: 10rem
    

.footer-wrap
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between

.footer-subscribe,
.footer-social,
.footer-contacts
    width: 30%
    align-self: center