
%primary-title
    font-weight: bold    
    font-family: 'Quicksand', sans-serif
    font-size: 4rem
    //color: #fab702
    //color: white
    
    margin: 2rem
    text-transform: uppercase


.primary-title--white
    @extend %primary-title
    color: white
    border-bottom: 2px solid #fff
  

.primary-title--orange
    @extend %primary-title
    color: #fab702
    border-bottom: 2px solid #fab702
